/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilos para o conteúdo principal */
.main-content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para as seções */
.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #333;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p {
    line-height: 1.6;
}

/* Estilos para o rodapé */
.pinto {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para elementos relacionados à cerca */
.about-cerca {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.about-cerca h3 {
    color: #333;
    font-size: 1.2em;
    margin-top: 0;
}

.about-cerca p {
    line-height: 1.6;
}
